* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url('fondo.jpg'); /* Establecer la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que la imagen no se mueva al hacer scroll */
    color: white; /* Asegura que el texto sea visible sobre la imagen */
}

header {
    background: rgba(0, 123, 255, 0.8); /* Fondo semi-transparente para el encabezado */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Animación de despliegue */
@keyframes despliegue {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Empieza arriba */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Llega a su posición final */
    }
}

.info-text {
    font-size: 20px;
    color: #f4f4f4; /* Color de texto */
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    animation: despliegue 3s ease-out; /* Aplica la animación durante 3 segundos */
}

.content {
    min-height: 100vh; /* Cada sección ocupará al menos toda la altura de la ventana */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 236, 239, 0.8); /* Fondo con opacidad para contraste */
    border-bottom: 1px solid #ccc;
    color: #333;
}

footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .icon {
    font-size: 40px; /* Tamaño del ícono */
    color: #25D366; /* Color característico de WhatsApp */
    margin-top: 10px;
    cursor: pointer; /* Para que parezca un botón */
    transition: transform 0.3s ease-in-out;
}

footer .icon:hover {
    transform: scale(1.2); /* Efecto al pasar el mouse */
}
